* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: plum;
    color: black;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.calculator .outer-calc {
    background-color: rgb(156, 167, 235);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 3px solid rgb(95, 95, 95);
    border-bottom: 3px solid rgb(95, 95, 95);
}

.calculator #display {
    background: greenyellow;
    color: black;
    width: 300px;
    height: 75px;
    border-radius: 5px;
    padding: 10px;
    text-align: end;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.calculator button {
    padding: 10px;
    margin: 10px 5px;
    background-color: rgb(245, 174, 190);
    border-color: rgb(245, 174, 190);
    border-radius: 5px;
    width: 50px;
    height: 50px;
    font-size: 17px;
}

.calculator button:hover {
    background-color: plum;
}

.calculator button.symbol {
    background: rgb(221, 131, 233);
    border-color: rgb(221, 131, 233);
}

.calculator button.symbol:hover {
    background-color: plum;
}